.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.dados_evento {
    text-align: center;
}

.evento_pagina {
    display: flex;
    text-align: center;
}


.corpo {
    flex-grow: 1;
}

.imagem_evento {
    border-radius: 10px;
    height: 400px;
}