.header {
    background-color: #f00e70;
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: space-between;
    padding: 0 1rem;
    
}

.titulo {
    color: #ffffff;
}

.texto_header {
    color: #ffffff;
    text-decoration: none;
}

.cadastro {
    color: #ffffff;
    text-decoration: none;
}

.links {
    gap: 15px;
    list-style: none;
    display: flex;
    
}